/* Concerne toutes les pages du sites*/
*
{
    margin: 0;
}

/* Concerne le logo du site*/
header.header img {
    width: 150px;
}
/* Concerne les légendes des images*/
figcaption {
    text-align: center;
    font-family: "Roboto-italic", Arial; 
    font-size: small;
}
/* concerne le haut de page*/    
section.haut-page {
    background: url("../images/AVN_GA-VV.3_Ro-1.jpg");
    font-family: Arial, Helvetica, sans-serif, cursive;
    background-size: cover;
    height: 75vh;
    padding: 0px;
    min-height: 100%; 
    position: relative;
    height:100%; 
    width:100%;
}
/* Defini le titre principal des pages*/
.grand-titre {
    color: rgb(59, 60, 61);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    padding: 70px;
    position: absolute;

}
/*mise en forme du bloc qui englobe toute la partie principale et l'encart de côté*/
#bloc_page {
    width: 100%;
    /* limite de % en lageur et s'adapte aux dimensions de l'écran*/
    display: flex;
    justify-content: space-around;
    /*aligner horizontalement les blocs avec des espacements */
    align-items: flex-start;
    /* aligner verticalement les blocs en les faisant commencer en haut */
    margin: 5px 0px 0px 0px;

}
@font-face {
    font-family: 'Cursif';
    src: url('../font/Cursif.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Cursif', sans-serif;
    background-color: #f4f1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


/************************** définit l'onglet de navigation **********************/

nav {
    width: 100%;
    /* barre qui fait la largeur de la page */
    text-align: center;
    /* le texte est centré*/
    margin-top: 360px;
}

nav ul {
    list-style-type: none;
    /* enlever les puces */
    padding: 5px;
    margin: 0;
    overflow: hidden;
    /* "hidden" : cache ce qui dépasse */
    background-color: #393d3f;
    /* gris */
}

nav li {
    display: inline-block;
    /* afficher les éléments de la liste côte à côte*/
}

/* mise en forme des étiquettes du menu */
nav a {
    display: block;
    padding: 18px 25px;
    text-decoration: none;
    /* ne pas souligner les liens */
    color: white;
}

nav li a:hover,
.dropdown:hover {
    /* couleur quand on passe sur les onglets principaux */
    background-color: #5e4b3c;
}

/*** liste déroulante du menu de navigation ***/

.dropdown-content {
    display: none;
    /* ne pas afficher le menu déroulant par défaut */
    position: absolute;
    /* affiche le menu déroulant en dessous de la barre de navigation */
    width: 150px;
    z-index: 1;
    /* affiche le dropdown content au-dessus du reste */
}

.dropdown {
    /* pour que la case fasse la même taille que le dropdown-content */
    width: 150px;
}

/* afficher le menu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    /* mise en forme des éléments du menu déroulant */
    color: white;
    background-color: #5e4b3c;
}

.dropdown-content a:hover {
    /* couleur quand on passe sur les sous-onglets du menu déroulant */
    background-color: #5e4b3c;
    color: black;
}

.menu {
    width: 100%;
    background-color: #d6bfa6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #3a2c1a;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
    background-color: #5e4b3c;
    color: #f4f1e1;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    nav {
        margin-top: 20px;
    }

    nav ul {
        padding: 5px;
    }

    nav a {
        padding: 12px 18px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 8px 0;
    }

    .menu ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    nav {
        margin-top: 10px;
    }

    nav ul {
        padding: 5px;
    }

    nav a {
        padding: 10px 15px;
    }

    .menu ul li a {
        font-size: 0.9rem;
    }
}

.parchment {
    border: 1px solid #d6bfa6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 800px;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    color: #3a2c1a;
    margin-top: 20px;
    margin-bottom: 20px;
}

.parchment h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #5e4b3c;
}

.parchment p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Style pour la classe de paragraphe justifié */
.justify {
    text-align: justify; /* Justifie le texte */
    text-justify: inter-word; /* Méthode de justification (optionnel, pour une meilleure compatibilité) */
}

.buttons {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Cinzel', serif; /* Police de style médiéval */
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    text-decoration: none; /* Supprime le soulignement des liens */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons:hover {
    background-color: #e0e0e0;
    color: #000;
}

.buttons:active {
    background-color: #d0d0d0;
    color: #000;
}

.buttons:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.buttons a {
    color: inherit; /* Hérite de la couleur du texte du bouton */
    text-decoration: none; /* Supprime le soulignement des liens */
}

.buttons a:hover {
    color: inherit; /* Hérite de la couleur du texte du bouton au survol */
    text-decoration: none; /* Supprime le soulignement des liens au survol */
}

.image-container {
    font-size: 0;         /* Supprime l'espace blanc entre les éléments inline-block */
}

.image {
    width: 100%;         /* Chaque image prend 100% de la largeur de son conteneur */
    height: auto;        /* La hauteur s'ajuste automatiquement pour respecter les proportions */
    object-fit: contain; /* Maintient les proportions sans couper l'image */
    display: block;      /* Affiche les images en bloc pour qu'elles se suivent directement */
    margin: 0;           /* Supprime les marges par défaut */
    padding: 0;          /* Supprime les espacements internes */
}





.word-page {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}
.word-page h1, .word-page h2, .word-page h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}
.word-page p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}
.word-page ul, .word-page ol {
    margin-left: 20px;
    margin-bottom: 15px;
}
.word-page ul li, .word-page ol li {
    margin-bottom: 5px;
}

.download-button {
    background-color: #ba3333;
    border: 4px solid #8b0000; /* Bordure rouge foncé */
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%; /* Forme ronde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100px; /* Largeur du bouton */
    height: 100px; /* Hauteur du bouton */
    line-height: 100px; /* Centre verticalement le texte */
    background-image: url("../images/sceau.png"); /* Ajoute l'image de fond */
    background-size: 135%; /* Ajuste la taille de l'image pour couvrir tout le bouton */
    background-position: center; /* Centre l'image */
}

.download-button:hover {
    background-color: #ba3333;
    transform: scale(1.1);
}

.download-button:active {
    background-color: #ba3333;
    transform: scale(0.95);
}




footer {
    display: flex;
    justify-content: center;
    background-color: #393d3f;
    color: white;
    font-family: Arial, Helvetica, sans-serif, cursive;
    height: 75vh;
    padding: 20px;
    height:100%; 
    width:100%;
}

a {
    color: black; /* Change la couleur du texte en noir */
}
